*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace, sans-serif;
    color: #1b1b1b;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 0.5rem;
}

.wrapper{
    max-inline-size: 1000px;
    margin: 0 auto;
    
}

.teal-text{
    color: #077997;
}

img {
    max-inline-size: 100%;
    display: block;
    margin-block: 0.3rem;
}

                /* Navigation */

header {
    display: flex;
    justify-content: space-between;
}

.primary-navigation ul {
    display: flex;
    gap: 1rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation ul a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: #cf6c6c;
}

.title {
    line-height: 1;
    /* font-size: 2rem; */
    font-size: 2.5rem;
    color: #494d55;
}

h2{
    color: #cb731b;
    font-size: 2rem;
}

.teal-background{
    background: #087997;
    color: #fff;
    padding: 0.2rem 0.4rem;
    border: 4px groove #044f64;
}

footer{
    text-align: center;
}
