*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace, sans-serif;
    color: #1b1b1b;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0.5rem;

    @media (width > 850px){
        font-size: 1.4rem;
    }
}

.wrapper{
    max-inline-size: 1000px;
    margin: 0 auto;
    
}

.teal-text{
    color: #077997;
}

img {
    max-inline-size: 100%;
    display: block;
    margin-block: 1rem;
}

                /* Navigation */

header {
    display: flex;
    justify-content: space-between;
}

.primary-navigation ul {
    display: flex;
    gap: 1rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation ul a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: #cf6c6c;
}

.title {
    line-height: 1;
    /* font-size: 2rem; */
    font-size: 2.5rem;
    color: #494d55;
    text-align: center;

    @media (width > 500px){
        font-size: 5rem;
        line-height: 1;
    }

    @media (width > 850px) {
        font-size: 6.5rem;
        line-height: 1;
    }
}

h2{
    color: #cb731b;
    font-size: 2rem;
    margin: 0;

    @media (width > 850px){
        font-size: 2.5rem;
    }
}

h3 {
    margin: 0;
}

.background-accent{
    background-image: url(../images/simple-steps.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 0.5rem;
    border: 5px groove #044f64;
}

.background-accent h2 {
    color: #fff;
}

.teal-background{
    background: #087997;
    color: #fff;
    padding: 0.2rem 0.4rem;
    border: 5px groove #044f64;
    border-radius: 0.7rem;
}

footer{
    text-align: center;
    margin-top: 1rem;
}

/* Layout */
.two-column-layout,
.two-column-layout > *{
    margin-block: 2rem;
}



@media (width > 850px){
    .two-column-layout{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .two-column-layout > * {
        max-inline-size: 47%;
        flex: 1 1 0;
        align-self: start;
    }
}

a{
    color: inherit;
}

a:visited{
    color: #79df79;
}

a:hover, 
a:focus-visible {
    color: #a28348;
}

a:active {
    color: #1f190a00;
}

